<h1>Hi there!</h1>

<h2>Events</h2>
<% if @admin.events.any? %>
  <ul>
    <% @admin.events.each do |event| %>
      <li>
        <strong><%= event.name %></strong> - <%= event.date.strftime("%-d %b, %Y") %>
        <br>
        <%= event.description %>
      </li>
    <% end %>
  </ul>
<% end %>