<h1>Welcome to the Website</h1>

<% if @admin %>
  <p>Logged in as <%= @admin.name %></p>
  <%= button_to "Logout", logout_path, method: :delete %>
<% else %>
  <p>You are not logged in.</p>
  <p> If you're a participant, then you can access the products page. Just ask an organiser for the page.</p>
<% end %>
