<!-- filepath: c:\Users\mrsoh\OneDrive - The Perse School\Youthacks\aha\app\views\home\index.html.erb -->
<h1>Welcome to the Website</h1>

<% if @admin %>
  <p>Logged in as <%= @admin.email %></p>
  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <p>You are not logged in.</p>
  <%= link_to "Login", login_path %>
<% end %>